body {
  display: flex;
  margin: 0;
  padding: 0px 90px 0px 90px;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color:aliceblue;
  min-height: 100vh;
  background: linear-gradient(-45deg, #2f617c, #03121c, #1c0509, #000000);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  max-width: fit-content;
  position: static;
  top: 0px;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
header{
    display: flex;
    flex-direction: column;
    padding: 90px 0px 90px 0px;
    height: 80vh;
    width: 100%;  
    position: sticky;
    top: 0px;
}
.link{
    text-decoration: none;
    color: #8892b0;
}
.link:hover{
    color: white;
}
.nav {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 10px;
  }
  
  .nav a {
    display: block;
    margin: 10px 0;
    color: #8892b0;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    transition: color 0.3s ease;
  }
  
  .nav a:hover,
  .nav a.active {
    color: white;
  }
  
  .nav a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background: linear-gradient(to right, white, hsl(216, 100%, 79%));
    transition: width 0.3s;
    position: absolute;
    bottom: -2px;
    left: 0;
  }
  
  .nav a:hover::after,
  .nav a.active::after {
    width: 100%;
  }
  ul{
    display:flex;
    flex-direction: row;
    margin: 32px 0px 0px 2px;
    list-style: none;
    padding: 0;
    position: absolute;
    bottom: 100px;
  }
  li a{
    color: #656e89;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
    margin-right: 50px;
  }
  
  li a:hover {
    color: hsl(216, 100%, 82%);
  }
  section {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: background 0.3s ease;
    padding-top: 90px;
    padding-bottom: 90px;
  }
  .card {
    padding: 10px;
    box-shadow: 0 0 5px 0 ;
    background: inherit;
    backdrop-filter: blur(10px);
    border-radius: 10px;
}
  main{
    overflow-y: visible;
    scroll-snap-type: mandatory;
    padding: 0px 0px 0px 40px;
  }
  @media (max-width: 1020px){
    body{
        padding: 40px 24px 40px 24px;
        flex-direction: column;
        overflow: auto;
    }
    header{
        padding: 24px 0px 24px 0px;
        margin-bottom: 20px ;
        height: auto;
        position: relative;
    }
    main{
      padding: 0px 0px 0px 0px;
    }
    .nav{
        display: none;
    }
    ul{
        position: static;
    }
    section{
        height: auto;
        margin: 20px 0px 40px 0px;
    }
  }